<!DOCTYPE html>
<html>
<head>
	<title>Get Post Checker</title>
	<style>
		table, th, td {
			border: 1px green;
			text-align: center;
			font-color: black;
			//None of this worked properly
		}
	</style>
</head>
<body>
	{{{ body }}}
</body>
</html>